<div>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button>History</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
      Components</a></p> -->
  <!-- <ion-button id="open-action-sheet">Open</ion-button>
  <ion-action-sheet trigger="open-action-sheet" (didDismiss)="setResult($event)" header="Need 91 at pillbox"
    [buttons]="actionSheetButtons"></ion-action-sheet> -->
  <!-- <ion-accordion-group>
    <ion-accordion *ngFor="let da of data" (value)="da.text">
      <ion-item slot="header" color="light">
        <ion-label>{{da.value}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{da.content}}</div>
    </ion-accordion>
  </ion-accordion-group> -->

</div>