<div>
  <div class="text">
    <p class="heading">Hey There,</p>
    <p class="subheading">Welcome back</p>
  </div>
  <div class="pad">
    <form novalidate offset-lg-3 offset-xl-4 col-lg-6 col-xl-4 [formGroup]="signupForm" (ngSubmit)="submitForm()">
      <ion-list>
        <p style="font-weight: 600;">Mobile No</p>
        <ion-item>
          <button style="background: transparent; margin-right: 10px; " type="button">
            <ion-icon name="call-outline"></ion-icon>
          </button>
          <button style="background: transparent; margin-right: 10px; " type="button" id="open-modal" expand="block"
            (click)="countries = allcountries">
            <span>{{signupForm.value.countryCode}}</span>
          </button>
          <ion-input placeholder="Enter Mobile No" name="phone" type="number" formControlName="phone"> </ion-input>

        </ion-item>
      </ion-list>

      <div class="text-mobile">
        <p (click)="go('tabs')">Login Using Email Id</p>
      </div>
      <button class="btn" type="submit">
        Send OTP
      </button>
      <div class="d-flex">
        <span class="textdont">Don't have an account yet? &nbsp; </span> <span class="text-mobile">Sign Up</span>
      </div>
    </form>
  </div>
</div>

<ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
        <ion-searchbar placeholder="Search" (ionInput)="searchCountry($event)"
          (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-item *ngFor="let country of countries" (click)="onClick(country); modal.dismiss()">
          <ion-avatar slot="start">
            <ion-img src="assets/flags/img/{{country.code | lowercase}}.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{country.name}} ({{country.dial_code}})</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>