<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="success" (click)="onFlashlight()">
        Turn on
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="danger" (click)="offFlashlight()">
        Turn off
      </ion-button>
    </ion-col>
  </ion-row>
  <input type="file" accept="application/pdf" id="upload" style="display: none;" (change)="changeListener($event)"
    #hiddenfileinput />
  <ion-fab-button for="upload" (click)="hiddenfileinput.click()" class="ion-margin">
    <ion-icon name="folder-open-outline"></ion-icon>
  </ion-fab-button>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanCode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="src">
        <ion-img [src]="src"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>